DB_HOST=localhost
DB_PORT=5439
DB_USER=nodotech
DB_PASSWORD=nodotech
DB_NAME=nodotech_marketing

JWT_SECRET=cambia-esto-en-produccion-por-un-secreto-largo
JWT_EXPIRES_IN=7d

PORT=3001
FRONTEND_ORIGIN=http://localhost:3002
NODE_ENV=development
